In [2]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [3]:
for num in range(10,20):
    print(num)

10
11
12
13
14
15
16
17
18
19

In [4]:
List2=[10,20,14,55,43,87,76]
print(List2)
print("Number of item in the List2: ",len(List2))

[10, 20, 14, 55, 43, 87, 76]
Number of item in the List2:  7

In [6]:
Name = "Artifical Intelligence"
for letter in Name:
    print(letter)

A
r
t
i
f
i
c
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [9]:
details = ['Rajalakshmi','28','TechLead']
for data in details:
    print(data)

Rajalakshmi
28
TechLead

In [8]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [10]:
tup1=(0,1,2,3)
tup2=('python','HOPE')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('python', 'HOPE'))

In [12]:
List = [20,10,16,19,25,1,276,188]
for num in List:
    if(num%2!=0):
        print(num,"is odd")

19 is odd
25 is odd
1 is odd

In [13]:
List = [20,10,16,19,25,1,276,188]
for num in List:
    if(num%2==0):
        print(num,"is even")

20 is even
10 is even
16 is even
276 is even
188 is even