In [1]:
#1.Find the error in the following Python code:
#python case-sensitive so library name wrongly mentioned

#import math
#print(Math.sqrt(16))

import math
print(math.sqrt(16))

4.0

In [8]:
#2.Find the error in the following Python code:
#Unbound error
#def my_function():
#    x += 5
#    print(x)

#x = 10
#my_function()

def my_function(x):
    x += 5
    print(x)

x = 10
my_function(x)

15

In [9]:
#3.x = 5
#used assignment operator instead of compare operator
#if x = 10:
#    print("x is 10")

if x == 10:
    print("x is 10")

x is 10

In [ ]:
#4.sort does not return any value.it will sort the values
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [33]:
#5.the function will return None since noting is return 
#def square(n):
#    n * n

#print(square(4))

#correct answer

def square(n):
    return n * n

print(square(4))

16

In [ ]:
#6.tuple are immutable
my_tuple = (1, 2, 3)
my_tuple[1] = 5

In [27]:
#7.argument missing as expecting values in print
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name,age))

My name is Alice and I am 25 years old

In [29]:
#8.is will compare the id /memmory
a = [1, 2, 3]
b = [1, 2, 3]
#if a is b:
#    print("Lists are equal")
if a == b:
    print("Lists are equal")

Lists are equal

In [31]:
#9.normal step value is 1 so the stop value should be greater than start value.if we want decresed value means we should add -1 as step value
#for i in range(5, 1):
#    print(i)

for i in range(5, 1,-1):
    print(i)

5
4
3
2

In [32]:
#10.the double quotes are missing
#student = {"name": "John", "age": 20}
#print(student[name])

student = {"name": "John", "age": 20}
print(student["name"])

John